<h1><%= link_to "#{@current_user.username}", user_path(@current_user) %>'s Firearms</h1>
<hr>
<h4>Current Value: $<%= @current_user.firearms_value %></h4>

<%= button_to 'Add A Firearm!', new_firearm_path, method: :get, class: "outline" %>

<div id="firearmList">
  <button class="accordion">Rifles</button>
  <div class="panel">
    <ul id="rifle-list">
    </ul>
  </div>
  <button class="accordion">Pistols</button>
  <div class="panel">
    <ul id="pistol-list">
    </ul>
  </div>
  <button class="accordion">Shotguns</button>
  <div class="panel">
    <ul id="shotgun-list">
    </ul>
  </div>
</div>

<div id="firearmDrawer" class="drawer">
  <button class="js-prev">Previous</button>
  <button class="js-next" data-id="">Next</button>
  <a href="javascript:void(0)" class="closebtn" onclick="closeFirearmDrawer()">&times;</a>
  <h2 class="firearmName"></h2>

  <hr>

  <p>Caliber: <span class="firearmCaliber"></span></p>
  <p>Serial Number: <span class="firearmSerial"></span></p>
  <p>Purchase Price: $<span class="firearmPrice"></span></p>
  <p>Purchase Date: <span class="firearmPurchase"></span></p>
  
  <div id="accessory-container">
    <h4>Accessories</h4>
    <button id="js-accessory-add">Add an Accessory</button>
      <div id="new-accessory-form">
        <form class="new_accessory" id="new_accessory" action="/accessories" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="dwDd67Kdca+oRA2J8K7SQxXubNca1r9sK7uS1e/ym9wwckr9CS1A4WLDNtaVIXSB+u3Qb5/EbNrvkHcCHMfqYQ==" />
          <input value="3" type="hidden" name="accessory[firearm_id]" id="accessory_firearm_id" />
          <input placeholder="Name" type="text" name="accessory[name]" id="accessory_name" />
          <input placeholder="Price" type="number" name="accessory[price]" id="accessory_price" />
          <input placeholder="Date Purchased - MM/DD/YYYY" type="text" name="accessory[purchase_date]" id="accessory_purchase_date" />
          <select name="accessory[category]" id="accessory_category"><option value="Optic">Optic</option>
            <option value="Sling">Sling</option>
            <option value="Light">Light</option>
            <option value="Trigger">Trigger</option>
            <option value="Other">Other</option></select>
          <input type="submit" name="commit" value="Create Accessory" data-disable-with="Create Accessory" />
        </form>
      </div>
    <ul id="accessoryList">
    </ul>
  </div>
</div>

<div id="accessoryDrawer" class="drawer">
  <a href="javascript:void(0)" class="closebtn" onclick="closeAccessoryDrawer()">&times;</a>
  <h2 class="accessoryName"></h2>

  <hr>

  <p>Purchase Price: $<span class="accessoryPrice"></span></p>
  <p>Purchase Date: <span class="accessoryPurchase"></span></p>
</div>

<script id="accessory-form" type="text/x-handlebars-template">
</script>