<h1><%= link_to "#{@current_user.username}", user_path(@current_user) %>'s Firearms</h1>

<h3><%= link_to 'Add A Firearm!', new_firearm_path %></h3>

<ul>
  <% @current_user.firearms.each do |firearm| %>
    <li><%= link_to "#{firearm.make} #{firearm.model}", firearm_path(firearm) %></li>
  <% end %>
</ul>
