<h1>Edit Your Profile Information Here</h1>

  <%= form_for(@user) do |f| %>
    <p>Username: <%= f.text_field :username %></p>
    <p>Email: <%= f.text_field :email %></p>
    <p><%= f.submit "Update Information" %></p>
  <% end %>