<h1>Your Accessories</h1>
<hr>
<div>
  Filter Accessories:
  <%= form_tag("/accessories", method: "get") do %>
    <%= select_tag :category, options_for_select(@current_user.accessories.pluck(:category).uniq), include_blank: true %>
    <%= submit_tag "Filter" %>
  <% end %>
</div>

<ul>
  <% @accessories.each do |acc| %>
    <li>
      <%= link_to "#{acc.name}", accessory_path(acc) %>
    </li>
  <% end %>
</ul>